In [1]:
import pandas as pd

Cargar datos

In [2]:
# Importamos el dataset de los datos de los pokemon

df = pd.read_csv('dataset_final.csv')

In [3]:
'''
1. ¿Cuántos pokémon hay en el dataset?
'''
df.count()

#             800
Name          800
Type 1        800
Type 2        414
Total         800
HP            800
Attack        800
Defense       800
Sp. Atk       800
Sp. Def       800
Speed         800
Generation    800
Legendary     800
dtype: int64

In [4]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)
'''
df.loc[df['Type 1'] == 'Poison'].count()

#             28
Name          28
Type 1        28
Type 2        13
Total         28
HP            28
Attack        28
Defense       28
Sp. Atk       28
Sp. Def       28
Speed         28
Generation    28
Legendary     28
dtype: int64

In [5]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''
type1 = df.groupby('Type 1').count()
len(df['Type 1'].unique())

18

In [6]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''
'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)
'''
df.groupby('Type 1').count().sort_values(['Total'])

,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,
Flying,4,4,2,4,4,4,4,4,4,4,4,4
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Water,112,112,53,112,112,112,112,112,112,112,112,112

In [7]:
'''
3. ¿Cuál es el pokémon más rápido?
'''
df.sort_values(by="Speed", ascending=False)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
431,386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True
315,291,Ninjask,Bug,Flying,456,61,90,45,50,50,160,3,False
428,386,DeoxysNormal Forme,Psychic,NaN,600,50,150,50,150,50,150,3,True
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,597,Ferroseed,Grass,Steel,305,44,50,91,24,86,10,5,False
486,438,Bonsly,Rock,NaN,290,50,80,95,10,45,10,4,False
359,328,Trapinch,Ground,NaN,290,45,100,45,45,45,10,3,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
495,446,Munchlax,Normal,NaN,390,135,85,40,40,85,5,4,False

In [8]:
'''
4. ¿Cuántos pokemon tiene una defensa superior a 100?
'''
df.loc[df['Defense'] > 100].count()

#             123
Name          123
Type 1        123
Type 2         87
Total         123
HP            123
Attack        123
Defense       123
Sp. Atk       123
Sp. Def       123
Speed         123
Generation    123
Legendary     123
dtype: int64

In [9]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?
'''
df.loc[(df['Defense'] > 100) & (df['Speed'] >100)].count()

#             9
Name          9
Type 1        9
Type 2        8
Total         9
HP            9
Attack        9
Defense       9
Sp. Atk       9
Sp. Def       9
Speed         9
Generation    9
Legendary     9
dtype: int64

In [10]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''
df.sort_values(['Type 1', 'Type 2'])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False
657,596,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
697,636,Larvesta,Bug,Fire,360,55,85,55,50,55,60,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [21]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''
water_fire = df.loc[(df['Type 1'] == 'Water') | (df['Type 1'] == 'Fire')]
water_fire

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Doble tipo
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,True
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,True
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False,True
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False,True
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,True

In [12]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''
legendary = df.loc[df['Legendary'] == True]
legendary

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [23]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''
df_legendary = legendary.describe().round(2)
df_legendary = df_legendary.drop(['count', 'std', 'min', '25%', '50%', '75%', 'max'], axis=0)
df_legendary = df_legendary.drop(['#', 'Total', 'Generation'], axis=1)
df_legendary.rename(index={'mean': 'Legendary'},inplace=True)

In [24]:
df_no_legendary = df.loc[df['Legendary'] == False]
df_no_legendary = df_no_legendary.describe().round(2)
df_no_legendary = df_no_legendary.drop(['count', 'std', 'min', '25%', '50%', '75%', 'max'], axis=0)
df_no_legendary = df_no_legendary.drop(['#', 'Total', 'Generation'], axis=1)
df_no_legendary.rename(index={'mean': 'No Legendary'}, inplace=True)

In [25]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87

'''
df_average = pd.concat([df_legendary, df_no_legendary], axis=0)
df_average

                 HP  Attack  Defense  Sp. Atk  Sp. Def   Speed
Legendary     92.74  116.68    99.66   122.18   105.94  100.18
No Legendary  67.18   75.67    71.56    68.45    68.89   65.46

In [16]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que inndique si el pokemo tiene dos tipos o no
'''

df['Doble tipo'] = df['Type 2'].notnull()
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Doble tipo
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,True
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,True
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,True
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,True
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,True

In [17]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''
df.loc[df['Doble tipo'] == True, ['Name', 'Type 1', 'Type 2']].sort_values(['Type 1', 'Type 2', 'Name'])

                        Name Type 1    Type 2
657               Galvantula    Bug  Electric
656                   Joltik    Bug  Electric
231                Heracross    Bug  Fighting
232  HeracrossMega Heracross    Bug  Fighting
697                 Larvesta    Bug      Fire
..                       ...    ...       ...
626               Carracosta  Water      Rock
240                  Corsola  Water      Rock
404                Relicanth  Water      Rock
625                 Tirtouga  Water      Rock
440                 Empoleon  Water     Steel

[414 rows x 3 columns]

In [33]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']


# A. Una función que calcule el precio total de la compra
values = reduce(lambda a, b: a + b, list(map(lambda key: articulos[key], compra)))
print('Precio total: ', values, '€')

# B. Una función que calcule el precio total de la compra con un descuento del 10%

values_10_off = reduce(lambda a, b: a + b, list(map(lambda key: articulos[key]*0.9, compra)))
print('Precio con descuento: ', values_10_off, '€')

# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€
if values > 100:
    values_off_100 = values * 0.9
print(values_off_100, '€')

# D. Una función que calcule el precio total aplicando el IVA (21%)
values_iva = round((reduce(lambda a, b: a + b, list(map(lambda key: articulos[key], compra)))) * 1.21, 2)
print('Precio con IVA: ', values_iva, '€')
 
# E.lista los artículos cuyo precio es superior a 20€
sup_20 = list(filter(lambda key: articulos[key] > 20, compra))
print('Artículos con precio superior a 20: ', sup_20)

Precio total:  155 €
Precio con descuento:  139.5 €
139.5 €
Precio con IVA:  187.55 €
Artículos con precio superior a 20:  ['Pantalón', 'Pantalón', 'Gafas', 'Corbata']

In [30]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca e nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]

promedio_notas = lambda notas: reduce(lambda x, y: x + y, notas) / len(notas)
crear_entrada = lambda alumnos: {'nombre': alumnos[0] + ' ' + alumnos[1], 'curso': alumnos[2], 'promedio': promedio_notas(alumnos[3])}
alumnos1 = list(map(crear_entrada,alumnos))
curso1 = list(filter(lambda alumnos1: alumnos1['curso'] == '1', alumnos1))
curso2 = list(filter(lambda alumnos1: alumnos1['curso'] == '2', alumnos1))
print('Curso 1:\n', curso1)
print('\n')
print('Curso 2:\n', curso2)

Curso 1:
 [{'nombre': 'Juan Pérez', 'curso': '1', 'promedio': 7.0}, {'nombre': 'Luis González', 'curso': '1', 'promedio': 7.0}, {'nombre': 'Pedro Rodríguez', 'curso': '1', 'promedio': 7.0}, {'nombre': 'Marta López', 'curso': '1', 'promedio': 7.0}, {'nombre': 'Javier Sánchez', 'curso': '1', 'promedio': 7.0}, {'nombre': 'Sergio Jiménez', 'curso': '1', 'promedio': 7.0}, {'nombre': 'Pablo Álvarez', 'curso': '1', 'promedio': 7.0}]


Curso 2:
 [{'nombre': 'Ana García', 'curso': '2', 'promedio': 7.0}, {'nombre': 'María Martínez', 'curso': '2', 'promedio': 7.0}, {'nombre': 'Lucía Hernández', 'curso': '2', 'promedio': 7.0}, {'nombre': 'Sara Díaz', 'curso': '2', 'promedio': 7.0}, {'nombre': 'Miguel Fernández', 'curso': '2', 'promedio': 7.0}, {'nombre': 'Sandra Ruiz', 'curso': '2', 'promedio': 7.0}, {'nombre': 'María Gómez', 'curso': '2', 'promedio': 7.0}]